@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #f2ccce;
  --font-color: rgb(0, 21, 177);
}

body {
  font-family: "Yatra One";
  background-color: #f2ccce;
  color: rgb(0, 21, 177);
}

/* --------- PROJECT PAGE ---------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-left: 20px;
  padding-right: 50px;
  height: 40px;
  color: black;
}
.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}
.nav a:hover {
  text-decoration: underline;
}
.nav button {
  border: none;
  background: none;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* --------- LANDING PAGE ---------- */
.landing-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--font-color);
  padding: 5px 60px;
  height: 40px;
  color: var(--font-color);
}

.landing-nav a {
  color: var(--font-color);
  text-decoration: none;
  transition: all 0.2s ease;
}
.landing-nav a:hover {
  background-color: var(--font-color);
  color: white;
}

.landing-arrow {
  font-size: 1.3rem;
  margin-left: 90px;
  margin-bottom: 0;
  transition: transform 0.2s ease;
}
.landing-arrow:hover {
  transform: translateY(20px);
}

.container {
  height: 90vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

/* HEADER TEXT */
.title {
  text-align: center;
  font-weight: 500;
  font-size: 9rem;
  margin-top: 5vh;
  line-height: 1em;
  text-decoration: underline;
}
.description {
  text-align: center;
  font-style: italic;
  font-size: 1.75rem;
  width: 100%;
  margin: 20px 0;
  line-height: 1em;
}

/* DAY COLUMNS */
.days-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}

.days-container li {
  list-style: none;
  line-height: 1.2rem;
  font-weight: 600;
}

.days-container a {
  text-decoration: none;
  color: rgb(0, 21, 177);
  cursor: auto;
}

.days-container a:hover {
  background-color: rgb(0, 21, 177);
  color: white;
}
