@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&family=Syne:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Syne";
  text-align: center;
  overflow: hidden;
  margin: 0;
  background-color: rgb(0, 107, 174);
  color: white;
}

h3 {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
}

small {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

span {
  font-weight: 600;
  font-size: 1.1em;
}

.fa-heart {
  color: rgb(255, 170, 176);
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url("https://images.unsplash.com/photo-1620278596990-fdf04885f5b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80")
    no-repeat center center/cover;
  /* background: url("https://images.unsplash.com/photo-1619502735729-13b7525f13e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60")
    no-repeat center center/cover; */
  margin: auto;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.2);
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s ease-out;
  transform: translate(-50%, -50%) scale(0);
  color: rgb(255, 194, 205);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
