@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #133195;
  /* --primary-color: #061960; */
  --secondary-color: #1b41b4;
  --accent-color: #ff7700;
  --shadow-color: #0c2268;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Source Sans Pro";
  margin: 0;
}

/* HEADER */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

header h1 {
  font-family: "Yatra One";
  background-color: var(--shadow-color);
  color: var(--accent-color);
  margin: 0 0 0 40px;
  padding: 5px 20px 0 20px;
  font-size: 1.8rem;
}

/* SEARCH */

.search {
  background-color: var(--shadow-color);
  border: 0;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  margin: 0 40px 0 0;
  padding: 1rem 1rem;
  height: 50px;
  width: 50px;
  transition: all 0.4s ease;
}

.search::placeholder {
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.3px;
}

.search:focus,
.search-button:focus {
  outline: none;
}

#form {
  position: relative;
  height: 50px;
}

#form.active .search {
  width: 200px;
  color: white;
  transition: all 0.4s ease;
}

.search-button {
  background-color: var(--shadow-color);
  border: 0;
  color: var(--accent-color);
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.4s ease;
}

#form.active .search-button {
  transform: translateX(180px);
  font-size: 1rem;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  min-height: 450px;
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.3s ease;
  /* filter: saturate(0%); */
  /* background-color: red; */
  /* background-color: lighten(blue, 25%); */
}

.movie:hover img {
  filter: grayscale(0%);
  transition: all 0.3s ease;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--shadow-color);
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  font-weight: 600;
  font-size: 1.2rem;
}

.movie-info span.green {
  color: rgb(97, 255, 116);
}

.movie-info span.orange {
  color: rgb(255, 229, 28);
}

.movie-info span.red {
  color: rgb(255, 87, 87);
}

.overview {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
  color: var(--primary-color);
  font-weight: 500;
  padding: 1.3rem 1.5rem 1.5rem 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.overview h3 {
  margin: 0 0 10px 0;
  font-family: "Yatra One";
}

.movie:hover .overview {
  transform: translateY(0);
  opacity: 1;
}

/* BUTTONS FOR PAGINATION */
.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.btn {
  font-family: "Yatra One";
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--accent-color);
  border: 0;
  cursor: pointer;
  position: relative;
  top: 1;
  left: 0;
  margin: 0 2px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn:focus,
.input:focus {
  outline: none;
}

.btn.full {
  background-color: var(--shadow-color);
}
