@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&family=Syne:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 224, 124);
  font-family: "Syne";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
}

div label {
  margin-right: 10px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 1em;
  background-color: rgb(255, 224, 124);
  text-align: center;
  border: none;
}

input:focus {
  outline: none;
}
